.wrapper {
  max-width: 600px;
  margin: 60px auto;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.title {

  font-size: 32px;
}

.infoBlock p {
  margin: 10px 0;
  font-size: 16px;
}

.note {
  margin-top: 40px;
  color: #999;
  font-size: 14px;
}


.transactionItem {
  margin-bottom: 12px;
  font-size: 16px;
}
